version: '3.9'

services:
#  kotlin-app:
#    container_name: kotlin-app
#    image: kotlinapp:latest
#    build:
#      context: .
#      dockerfile: Dockerfile
#      args:
#        DB_URL: ${DB_URL}
#        PG_USER: ${PG_USER}
#        PG_PASSWORD: ${PG_PASSWORD}
#    ports:
#      - "8080:8080"
#    environment:
#      DB_URL: jdbc:postgresql://db:5432/postgres
#      PG_USER: postgres
#      PG_PASSWORD: postgres
#    depends_on:
#      - db
  db:
    container_name: db
    image: postgres:12
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_USERNAME: postgres
    volumes:
      - pg-data:/var/lib/postgresql/data
volumes:
  pg-data: {}
