spring:
  datasource:
    url: jdbc:postgresql://localhost:5435/test_database
    password: postgres
    username: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
baseBackendUrl: http://localhost:8080
shortenAlgorithm: RandomAlgorithm